[submodule "Cobalt"]
	path = Cobalt
	url = git@github.com:cobaltians/Cobalt-iOS.git
	branch = dev-nativeBars
[submodule "SideMenu/www/platform"]
	path = SideMenu/www/platform
	url = git@github.com:cobaltians/Cobalt-Web-iOS.git
	branch = develop
[submodule "SideMenu/www/common"]
	path = SideMenu/www/common
	url = git@github.com:Cobaltians-Samples/Samples-SideMenu-Web.git
